
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive;
} 

p, a {
  font-family: 'Lato', sans-serif;

}

.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#b0b4be;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}

.underline {
  text-decoration: underline !important;
}


.tab_links li {

  cursor: pointer;
  list-style: none;
  float: left;
  margin-right: 3px;
  padding: 10px 40px;
  
  color: #ffffff;
}


.tab_box{
  min-height: 200px;
  width:335px;
  margin: 10px 0 5px 40px;
  padding:10px;
  
  font-family: 'Source Sans Pro', sans-serif;
 
}


.tab-group{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  padding: 5px;
  list-style: none;

  text-align: center;
  cursor: pointer;
  color: #b0b4be;
}

.panel-group {
 
  border-top: none;
  
}

.panel{
  display: none;
}

.tab.is-active{
  background: #b0b4be;
  color: #414f6b;
  transition: all 0.2s ease-out;
}

.panel.is-show{
  display: block;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #ffffff;
}


.slick-dots {
  bottom: 15px;
  left: 80%;
  width: 20%;
}